<head>

</head>
<style media="screen">
  .products-evey{
    margin-top: 30px;
margin-left: 40px;
  }
  .productstitle{
    margin-left: 40px;
    margin-bottom: 20px;
  }
  .productimage{
    margin-bottom: 30px;

  }
  .productimage:hover{

  }
  .boxcenter{
    margin: 0 auto;
  }

  #panel, #flip {
    padding: 5px;
    text-align: center;
    //background-color: #d8d6d6;
    background-color: grey;
    border: solid 1px #c3c3c3;
    color:white;
}

#panel {
    padding: 30px;
    display: none;

}
.pdt-index{
background-image: url("https://ooo.0o0.ooo/2017/02/15/58a43fb15d0ef.jpg");
//background-size: cover;
margin: 0 auto;

}
.titlebox{
  color:grey;
  height:90px;
  width:210px;
  background-color:white ;
  line-height: 50px;
  clear: both;
  margin-bottom: 50px;
  text-align: center;
  border-radius: 3px;
}
.titlebox:hover{
  background-color:rgba(255,255,255,0.8);
}
.productstitle{
  color: #edeeec;
  text-align:left;
  font-size: 30px;
}
.smallcircle{
  width:50px;
  height:50px;
  background-color: #c5c5c5;
  border-radius: 25px;
  border:2px solid grey;
  margin-bottom: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  font-weight: bold;
  position: relative;
}
.smallcircle:hover{
  background-color: orange;
  border: 2px solid white;
  color:white;
}
.qbbb-text{
  font-size:12px;
  color: #343535;
  position: relative;
  left:20px;
  top:-4px;
}
.nav-left{
    height: 700px;

}
.nav-inside{
  width:90%;
  height:50px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 3px;
  margin-bottom: 5px;
  color: white;
  line-height: 50px;
  text-align: center;
}
.nav-inside:hover{
  background-color: orange;
  border:1px solid white;
}
.nav-text{
   color:white;
   text-decoration: none;
}
.nav-text:hover{
  color:white;
  text-decoration: none;

}
</style>

<!--扫描二维码-->
<div id="flip">点击扫描二维码，获取更多优惠</div>
<div id="panel">

<img src="https://ooo.0o0.ooo/2017/02/15/58a4053a5d32a.png" alt="">
</div>
<!--扫描二维码结束-->

<body class="pdt-index">




<div class="products-evey">

<!--题头内容开始-->
<div class="qbbb">
  <h2 class="productstitle" style="color:#343535">所有瓷制品</h2>
  <hr>
  <table>
    <tr>
      <td><div class="smallcircle">邮</div></td>
      <td class="qbbb-text">全国包邮
        <br>卖家承担从卖家处发货到您收货地址处的大陆非偏远地区首次发货的运费。</td>

    </tr>

    <tr>
      <td><div class="smallcircle">保</div></td>
      <td class="qbbb-text">退货运费险
<br>卖家承诺提供退货运费险，在交易成功前，消费者发起退货请求，保险公司对退货产生的单程运费提供保险服务。</td>

    </tr>

    <tr>
      <td><div class="smallcircle">发</div></td>
      <td class="qbbb-text">48小时发货
<br>卖家承诺在您付款后的48小时内完成发货，以快递公司系统内揽件记录的时间为准（定制、预售、等特殊类目除外）。</td>

    </tr>

    <tr>
      <td><div class="smallcircle">退</div></td>
      <td class="qbbb-text">质无忧
        <br>商家承诺所售商品如因“不喜欢/不想要/不适合”或质量问题发生退货退款，可向交易诚信记录良好的消费者提供闪电退货和极速退款服务。</td>

    </tr>
  </table>

  <hr>
</div>

<!--题头内容结束-->



<!--产品内容开始-->


<!--左侧导航栏开始-->
<div class="col-xs-6 col-md-3 nav-left">
  <a class="nav-text" href="favorites/"><div class="nav-inside">
我的收藏夹 <i class="fa fa-gratipay" aria-hidden="true"></i>
  </div></a>
  <a class="nav-text" href="carts/"><div class="nav-inside">
我的购物车  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </div></a>
  <a class="nav-text" href="/"><div class="nav-inside">
返回首页  <i class="fa fa-home" aria-hidden="true"></i>
  </div></a>
</div>

<!--左侧导航栏结束-->





  <% @products.each do |product| %>
  <div class="col-xs-6 col-md-3 boxcenter">


    <%= link_to product_path(product) do %>


    <% if product.image.present? %>


    <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
    <% else %>

      <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>


    <% end %>
    <% end %>
<div class="titlebox">

      【<%= product.title %>】
       <span class="" style="color:orange;font-weight:bold;">¥ <%= product.price %></span>


       <!--收藏开始-->
    <div class="heart-e" style="float:left;position:absolute;top:262px;left:30px;">
    <% if user_signed_in? %>
    <% if !current_user.is_fan_of?(product) %>
    <%= link_to favorite_product_path(product), :class => "like btn btn-default",method: :post do %>
    <i class="fa fa-heart" aria-hidden="true"></i>
    <% end %>
    <% else %>
    <%= link_to unfavorite_product_path(product), :class => "like btn btn-default",method: :post do %>
    <i class="fa fa-heart" aria-hidden="true" style="color:red;"></i>
    <% end %>
    <% end %>
    <% else %>
    <%= link_to favorite_product_path(product), :class => "like btn btn-default", method: :post do %>
    <i class="fa fa-heart-o", style="color:red;"></i>
    <% end %>
    <% end %>
    </div>
    <!--收藏结束-->
      <!--加入购物车开始-->
      <div style="float:left;position:absolute;top:260px;left:90px;">
    <%= link_to(" 加入购物车", add_to_cart_product_path(product), :method => :post, :class => "btn btn-warning fa fa-shopping-cart") %>
    </div>
      <!--加入购物车结束-->



<div class="" style="height:30px;width:100%;">

</div>

    </div>

<!--产品内容结束-->





  </div>

  <% end %>

</div>
  <script src="http://www.w3schools.com/lib/w3data.js"></script>
  <% yield :handwrite_javascript %>

</body>

<script>
$(document).ready(function(){
    $("#flip").click(function(){
        $("#panel").slideToggle("slow");
    });
});



</script>
