<style media="screen">
.loginevey{
  width:600px;
  margin: auto;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  color: white;
  height:450px;
  //background-image: url(http://www.wosoni.com/image34alluploadpic/DownloadImg/2011/08/1310/15728024_21.jpg);
  background-image: url(http://img.zcool.cn/community/033c878563b16506ac7259e0f1b9f50.png);
  background-size: cover;
  overflow: hidden;
}

</style>


<div class="loginevey">

  <h2 class='text-center'> 用户登陆 </h2>




                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-inputs">
                    <%= f.input :email, required: false, autofocus: true %>
                    <%= f.input :password, required: false %>
                    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, "登陆" %>
                  </div>
                </br>
                <% end %>

                  <%= render "devise/shared/links" %>


</div>
