
<style media="screen">
  .products-evey{
    margin-top: 30px;
margin-left: 40px;
  }
</style>

<div class="products-evey">

  <% @products.each do |product| %>
  <div class="col-xs-6 col-md-3">
    <%= link_to product_path(product) do %>
    <% if product.image.present? %>
    <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
    <% else %>
    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
    <% end %>
    <% end %>
    <%= product.title %> ¥ <%= product.price %>
  </div>
  <% end %>

</div>
