<style media="screen">
  .productsshow-evey{
    margin-top: 30px;
margin-left: 40px;
margin-right: 40px;

  }
</style>

<div class="productsshow-evey">


  <div class="col-md-6">
    <% if @product.image.present? %>

    
    <div id="zoom_01">
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    </div>


    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>

  <div class="col-md-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
  </br>
    <div>
    外观 : <%= rating_for @product, 'a', disable_after_rate: true %>
    质地 : <%= rating_for @product, 'b', disable_after_rate: true %>
    性价比 : <%= rating_for @product, 'c', disable_after_rate: true %>
    </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>
    <div class="pull-right">
      <% if @product.quantity > 0 %>
    <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
   <% else %>
    已销售一空
   <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
  $('#zoom_01').elevateZoom();
</script>
