<style media="screen">
body {
font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
font-size:14px;
}

h1 {
margin-top:0px;
margin-bottom:8px;
}

/* 链接 */
a {
text-decoration:none;
color:#1c00ff;
}

a:hover {
color:#5f00e4;
}
fieldset.search_keleyi_com {
padding: 0px;
border: none;
width: 232px;
background:#e0e0e0;
}

fieldset.search_keleyi_com:hover {
background: #a8a8a8;
}
.search_keleyi_com input, .search_keleyi_com button {
border: none;
float: left;
}
.search_keleyi_com input.box_keleyi_com {
height: 28px;
width: 200px;
margin-right: 0px;
padding-right: 0px;
background: #e0e0e0;
margin: 1px;
}
.search_keleyi_com input.box_keleyi_com:focus {
background: #e8e8e8;
outline: none;
}
.search_keleyi_com button.btn_keleyi_com {
border: none;
width: 28px;
height: 28px;
margin: 0px auto;
margin: 1px;
background: url(https://75exayd82i-flywheel.netdna-ssl.com/wp-content/uploads/2014/09/Search-icon.png) no-repeat top right;
background-size: cover;
overflow: hidden;
}
.search_keleyi_com button.btn_keleyi_com:hover {
background: url(https://ooo.0o0.ooo/2017/02/17/58a6435c0782b.png) no-repeat bottom right;
background-size: cover;
}
.search_keleyi_com{
  border-radius: 10px;
}
#s{
  border-radius: 10px;
}



</style>


<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
<img src="https://ooo.0o0.ooo/2017/02/13/58a0d236d8029.png" width="100" height="30" alt="">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav">
            <li class="active">
              <%= link_to("全部商品", products_path) %>
            </li>
            <li class="active">
              <a href="/protfolio">作品展示</a>
            </li>






            <li style="margin-top:8px; margin-left:50px;">
              <form method="get" id="searchform" action="/products">
  <fieldset class="search_keleyi_com">
  <input type="text" class="box_keleyi_com inputText_keleyi_com" name="s" id="s" placeholder="  搜索" x-webkit-speech>
  <button class="btn_keleyi_com" title="search_keleyi_com"> </button>
  </fieldset>
  </form>

          </li>





          </ul>




            <ul class="nav navbar-nav navbar-right">
               <li>

         <%= link_to carts_path do  %>
            购物车 <i class="fa fa-shopping-cart"> </i> ( <%= current_cart.products.count %> )
         <% end %>
               </li>




                  <% if !current_user %>

                  <li><%= link_to("注册", new_user_registration_path) %> </li>

  <li><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %></li>



                <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hi!, <%= current_user.email %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">

                      <% if current_user.admin? %>
                               <li>
                                 <%= link_to("Admin 选单", admin_products_path ) %>
                               </li>
                             <% end %>

                             <li>
                            <%= link_to("个人订单列表", account_orders_path ) %>
                           </li>


                        <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
                    </ul>
                  </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

    <script src="/assets/ratyrate-b9262c04d0d8852b84fc29d4c3a7111e055b19f14c93d21421469c77032a601c.js" data-turbolinks-track="false"></script>
