
<style media="screen">
.eveybox{
  padding-top: 40px;
  padding-left: 90px;
  padding-right: 40px;
  //background-color: #f4f4e7;
  background-image: url(https://ooo.0o0.ooo/2017/02/15/58a443a27b360.jpg);
  color: #e9e8e6;
}
.productbox{
  width: 33%;
}
</style>
<div class="eveybox">

<h1>饰</h1>
      <% @products_shi.each do |product| %>
<div class="productbox">


        <%= link_to product_path(product) do %>
        <% if product.image.present? %>
        <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
        <% end %>
        <% end %>

        <div class="" style="">
          【<%= product.title %>】
           <span class="" style="color:orange;font-weight:bold;">¥ <%= product.price %></span>
        </div>

<br>
<br>


</div>
      <% end %>

</div>
