<style media="screen">
.eveybox{
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #d7e1ea;
}
thead{
  background-image: url(http://img.zcool.cn/community/03325d95585269f0000001fa31b8c73.jpg);
  background-size: cover;
  color: white;
}
tbody{
background-color: #f4f2f2;
}
</style>

<div class="eveybox">
  <h2>饰</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th width="220">Product Pic</th>
        <th>Name</th>
        <th>Price</th>
        <th width="100">Options</th>
      </tr>
    </thead>

    <tbody>

      <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.id %>
        </td>
        <td>
        <%= link_to product_path(product) do %>
        <% if product.image.present? %>
        <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
        <% end %>
        <% end %>
        </td>
        <td>
          <%= product.title %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <%= link_to("Edit", edit_admin_product_path(product)) %>
        </td>
      </tr>
      <% end %>
    </tbody>

  </table>

</div>
