<!DOCTYPE html>
<html>
    <head>
        <title>JDStore </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <style media="screen">
        @media (min-width: 768px) {
  .navbar {
      border-radius: 0;//圆角为0
  }
}
.navbar-default {
    //background-color: #212121;//背景颜色
    //border-color: #212121;//边框色
    margin-bottom: 0;//底部 margin 不撑开距离
}
        </style>
    </head>

    <body>

        <div class="container-fluid">
          <div class="row">
              <%= render "common/navbar" %>
          </div>

              <div class="row">
                  <%= render "common/flashes" %>
              </div>

              <div class="row">
                  <%= yield %>
              </div>

        </div>

        <%= render "common/footer" %>

    </body>
</html>
